[submodule ".registry"]
	path = .registry
	url = https://github.com/jiankn/jiankn.r-universe.dev
	branch = HEAD
[submodule "pinteresturl"]
	path = pinteresturl
	url = https://github.com/jiankn/pinterest-url-normalizer-r
